<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023766463288-g5hcl0uj9ogfh4hi6j4hv997hbjkniag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023766463288-g5hcl0uj9ogfh4hi6j4hv997hbjkniag</string>
	<key>API_KEY</key>
	<string>AIzaSyBpUDpzj112nOJZnU2ScbIHpgyuy6jHZE0</string>
	<key>GCM_SENDER_ID</key>
	<string>1023766463288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JingweiLiao.ReiWaBuSan</string>
	<key>PROJECT_ID</key>
	<string>reiwaa-d488a</string>
	<key>STORAGE_BUCKET</key>
	<string>reiwaa-d488a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023766463288:ios:9241cbf387f66c24beb7cd</string>
	<key>DATABASE_URL</key>
	<string>https://reiwaa-d488a.firebaseio.com</string>
</dict>
</plist>
